.active,.show{
    
    border-radius: 5px;
    border: 1px solid red;
    border: none;
    outline: none;
    width: 100px;
    color: #fff;
    background-color: #000;

}
li {
    list-style: none;
}
.hide {
    display: none;
}
.outline {
    width: 400px;
    height: 100px;
}
